# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
*.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Data files
data/*.csv
data/*.xlsx

# Results
results/*

# Log files
*.log

# IDE files
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Python Egg files
*.egg
*.egg-info
dist/
build/
